@model agenda.Models.customer

@{
    ViewBag.title = "Supression d'un client";
}
<h2>Supprimer un client</h2>
<h3>Voulez-vous supprimer ce client</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget)
        </dd>

    </dl>

    <form action="#" method="post">
        @*Methode de post récupére les données du formulaire*@
        @Html.EditorFor(model => model.idCustomer, new { htmlAttributes = new { @type = "hidden" } })
        <button class="btn btn-outline-dark" onclick="deleteCustomer()">Supprimer client</button> @*Evenement onclick + fonction deleteCustomer*@
    </form>
    @Html.ActionLink("Back to List", "Index")


</div>


